body {
  background-color: #9eb1c0;
  margin: 0;
  padding: 0;
}

.Flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  margin: 1rem 0 0 0;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.higherTitle{
  color: #4CAF50;
  margin: 1rem 1rem 0 0;
}

.lowerTitle {
  color: #a34141;
  margin: 1rem 0 0 1rem;
}

.title p {
  margin: 1rem;

}
.Movies {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Movies h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0 0 0;
  text-align: center;
}

.Movies h3 {
  font-size: 1rem;
  font-weight: 200;
  margin: 0;
  text-align: center;
}

.Movies h4 {
  font-size: 1rem;
  font-weight: 200;
  margin: 0;
  text-align: center;
}

.higherButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.lowerButton {
  background-color: #a34141;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

#firstMovie {
  color: #283845;
}

#secondMovie {
  color: #283845;
}

.score {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0 0 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.gameOver {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  position: absolute;
  bottom: 50%;
  z-index: 1;
  background-color: #202C39;
  color: white;
  padding: 5rem;
  border-radius: 10px;
}

.gameOver button {
  background-color: #4c87af;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0; 
  color: white;
  text-align: center;
  text-decoration: none;
}

.footer Link {
  color: white;
  text-decoration: none;
}
